body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    background-color: #25292e;
}

h1 {
    color: #333;
    text-align: center;
    padding: 20px;
}

#serverInfoContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.serverInfo {
    background-color: #202428;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    transition: transform 0.2s ease-in-out;
}

.serverInfo:hover {
    box-shadow: 0 4px 8px rgba(239, 199, 74, 0.2);
}

.heading {
    color: #f6c636;
}

.footer {
    text-align: center;
    padding: 20px;
}

h1 {
    color: #f6c636;
}

h2 {
    color: #f6c636;
    font-size: 20px;
}

p {
    margin: 10px 0;
    color: #b8bdcc;
}

strong {
    font-weight: bold;
    color: #e7edff;
}

a {
    color: #7db5fb;
    text-decoration: none;
}

a:hover {
    color: #a2cffc;
}
